<nav class="nav-container">
  <h1>Business Analytics</h1>
  <%= link_to "Back to business", business_path(@business), class: "nav-link" %>
</nav>

<div class="sectioned-display-container">
  analytics here, bud
</div>