<nav class="page-specific">
  <h1><%= @business.name %></h1>
  <%= link_to "Back to business", business_path(@business), class: "nav-link" %>
</nav>

<div>
  <%= render "config", business: @business %>
</div>
