<nav class="page-specific">
  <h1>Businesses</h1>
  <div> <%= link_to "Create Business", new_business_path, class: "nav-link" %> </div>
</nav>

<div class="container">
    <% @businesses.each do |business| %>
    <div class="card">
        <%= link_to business.name, business %>
    </div>
    <% end %>
</div>

