<nav class="nav-container">
  <h1><%= @business.name %></h1>
</nav>

<div class="sectioned-display-container">
  <% @sites = Site.where(business_id: @business.id) %>
  <% if @sites.any? %>

    <% @business.sites.each do |site| %>
      <div class="sectioned-display-item">
      <%= link_to site.name, business_site_path(site)%>
      </div>
    <% end %>

  <% else %>
    <div class="sectioned-display-item">
      This Business Has No Sites
    </div>
  <% end %>
</div>
