<nav class="nav-container">
  <h1><%= @business.name %></h1>
</nav>

<div class="sectioned-display-container">
  <% if @sites.any? %>
    <div>Sites</div>
    <% @sites.each do |site| %>
      <div class="sectioned-display-item">
      <%= link_to site.name, business_site_path(site)%>
      </div>
    <% end %>
  <% else %>
    <div class="sectioned-display-item">
      This Business Has No Sites
    </div>
  <% end %>

  <% if @members.any? %>
    <div>Members</div>
    <% @members.each do |member| %>
      <div class="sectioned-display-item">
        <%= member.name %>
      </div>
    <% end %>
  <% else %>
    <div class="sectioned-display-item">
      This Business Has No Members
    </div>
  <% end %>

</div>
