<nav class="page-specific">
  <h1>New Membership</h1>
  <%= link_to "Back to Business", business_path(@business), class: "nav-link" %>
</nav>

<body>
  <%= render "form", membership: @membership %>
</body>