<nav class="page-specific">
  <div>
    <h1><%= "Hi #{@membership.member.name}." %></h1>
    <h6><%= "Manage your #{@membership.business.name} membership below." %></h6>
  </div>
  <%= link_to "Back to Business", business_path(@business), class: "nav-link" %>
  <%= link_to "Back to Member", business_member_path(@business, @membership.member), class: "nav-link" %>
</nav>

<div class="grid">

  <div class="grid-item">
    <div class="grid-item">
      <div class="card">
        picture
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        info
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="grid-item">
      <div class="card">
        subscription
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        payments
      </div>
    </div>
  </div>

</div>