<nav class="page-specific">
  <div>
    <h1><%= "Hi #{@membership.member.name}." %></h1>
    <h6><%= "Manage your #{@membership.business.name} membership below." %></h6>
  </div>
  <%= link_to "Back to Business", business_path(@business), class: "nav-link" %>
  <%= link_to "Back to Member", business_member_path(@business, @membership.member), class: "nav-link" %>
</nav>

jaxon