<nav class="page-specific">
  <h1>Employees</h1>
  <%= link_to "Create Employee", new_employee_path, class: "nav-link" %>
</nav>

<div>
    <% @employees.each do |employee| %>
      <%= link_to employee.name, employee %>
    <% end %>
</div>

