<div class="dropdown">
  <button class="dropbtn nav-link"><%= title %></button>
  <div class = "dropdown-content">
    <% if form_path %>
     <%= link_to "Add #{title.chop}", form_path.call(), class: "dropdown-special"  %>
    <% end %>

    <% if model.any? %>
      <% model.each do |m| %>
        <%= link_to m.name, path_.call(m)%>
      <% end %>
    <% elsif message %>
      <div class="dropdown-empty-message" ><%= message %></div>
    <% end %>
  </div>
</div>