<style>
  .flex-container{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   /* align-items: center; */
   background-color: white;
  }

  .stack-signup-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
    align-items: center;
  }

  .signup-box{
    display: flex;
    background-color: red;
    width: 20vw;
    justify-content: center;
  }

  .credentials-bubble {
  border-radius: 15px 50px 30px;
  background: #668ced;
  padding: 1vw;
  width: 20vw;
  height: 22vh;
  }
</style>

<div class="flex-container">
  <div class="credentials-bubble">
    <h1> Login or Sign Up </h1>
  </div>
</div>
<br>

<div class="stack-boxes">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password" minlength="8" required />
  </div>
</div>