footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: var(--main-color);
  color: var(--main-accent);
  padding: 0.5%;
  overflow: auto;
  font-size: 12px;
  font-family: "Trebuchet MS";
  border-top: 0.5vh solid var(--main-accent);
}