nav {
  background-color: var(--main-color);
  color: white;
}

#main-nav {
  width: 100%;
  display: block;
  position: fixed;
  background-color: rgb(66, 129, 217);
  z-index: 1;
}

nav.page-specific {
  position: relative;
  top: 18px;
  display: flex;
  align-items: center;
  gap: 20px; /* Adds spacing between items */
  padding: 10px 20px;
  margin: 0 0 20px 0;
}

.nav-link {
  color: white;
  font-weight: bold;
  transition: color 0.2s ease;
  padding: 14px 16px;
  border: 1px solid transparent;
}

.nav-link:hover, .navbar a:hover {
  color: #09445f;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}