table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--main-accent);
  background-color: white;
  max-width: 95%;
  margin: 0 auto;
  box-shadow: var(--main-box-shadow);
  word-wrap: break-word;
}

table caption {
  color: white;
  border: 2px solid var(--main-accent);
  padding: 10px;
  max-width: 20%;
  margin: 0 auto;
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  min-width: 160px;
}

table th {
  background-color: var(--main-accent);
}

table th, td {
  color: black;
  font-size: 15px;
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f2f2f2; /* gray background for alternating rows */
}

table .tbl-btn {
  float: right;
  border: 1px var(--main-color) solid;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main-accent);
  color: white;
}

table .tbl-btn:hover {
  box-shadow: var(--main-box-shadow);
  color: var(--main-color);
  background-color: white;
  border: 1px var(--main-accent) solid;
}