<nav class="page-specific">
  <h1>Sites</h1>
  <%= link_to "Back to Business", business_path(@business), class: "nav-link" %>
</nav>

<div class="container" >
  <% @sites.each do |site| %>
    <div class="card">
        <%= link_to site.name, business_site_path(@business, site) %>
    </div>
  <% end %>
</div>

<%= link_to "New Site", new_business_site_path(@business) %>