<nav class="page-specific">
  <h1><%= "#{@member.name}'s Memberships" %></h1>
  <%= link_to "Back to Business", business_path(@business), class: "nav-link" %>
  <%= link_to "Back to Member", business_member_path(@business, @member), class: "nav-link" %>
</nav>

<%# ignore, going to remove later. using to design the table partial %>
<% @memberships.each do |membership| %>
  <div class="g-row">
    <% link_to membership.business.name, business_path(membership.business)%>:
    <% membership.status.upcase %>
  </div>
<% end %>

<%= render partial: "partials/table", locals: {
                                        title: "Memberships",
                                        headers: ["Business", "Status", "Subscription"],
                                        content: @memberships,
                                        content_link: -> (m) { business_membership_path(m.business, m) },
                                      }%>

