<nav class="page-specific">
  <h1><%= "#{@member.name}'s Memberships" %></h1>
  <%= link_to "Back to Business", business_path(@business), class: "nav-link" %>
  <%= link_to "Back to Member", business_member_path(@business, @member), class: "nav-link" %>
</nav>

<%= render partial: "partials/table", locals: {
                                        title: "Memberships",
                                        headers: ["Business", "Status", "Subscription"],
                                        content: @memberships,
                                        attributes: ["business.name", "status", "subscription"],
                                        btn_name: "Manage",
                                        btn_link: -> (m) { business_membership_path(m.business, m) },
                                      }%>

