<nav class="nav-container">
  <h1><%= @member.name %></h1>
  <h1><%= @member.email %></h1>
  <h1><%= @member.phone_number %></h1>
</nav>

<%= link_to "Business", business_path(@business), class: "nav-link" %>
