<nav class="nav-container">
  <h1><%= @member.name %></h1>
</nav>

<div>
  <p><%= @member.email %></p>
  <p><%= @member.phone_number %></p>
  <p><%- @member.interests %></p>
</div>

<%= link_to "Business", business_path(@business), class: "nav-link" %>
